<h1> Войдите в учетную запись администратора </h1>

<form action="/admin/newsblogdiv" method="POST" name="adminEnteringForm">
  <input name="login">
  <input name="password">
  <button id="adminEnteringButton"> Войти </button>
  <div id="errorMessage"></div>
</form>

