<form action="/blog" method="POST" enctype="multipart/form-data">
  <input placeholder="Title" type="text" name="blogtitle"><br>
  <textarea placeholder="Enter post text" name="blogtext"></textarea><br>
  <input placeholder="Upload picture" type="file" name="file">
  <button>send</button>
</form>
<hr>
