<form action="/admin/news" method="post" name="newsForm" enctype="multipart/form-data">
  <input placeholder="Title" type="text" name="newstitle"><br>
  <textarea placeholder="Enter news text" name="newstext"></textarea><br>
  <input placeholder="Upload picture" type="file" name="file">
  <button>Send</button>
</form>
