<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--metatextblock-->
    <script defer src="/js/application.js"></script>
  <script defer src="/js/chooser.js"></script>
  <title>Юридическая компания Сильвер</title>
  <meta name="description" content="Опытные юристы помогут Вам, услуги для физических и юридических лиц! Звоните!" />
  <meta name="keywords" content="юридические услуги, консультация юриста, услуги юриста, юридическая консультация, юридическая помощь, помощь юриста, регистрация фирм, ликвидация фирм, юридический адрес, регистрация ип, купить готовую фирму, допуски сро, взыскание долгов, оценка имуществ" />
  <meta property="og:url" content="http://silver-company.ru" />
  <meta property="og:title" content="Юридические услуги Silver - Главная" />
  <meta property="og:description" content="Юридические услуги Silver - Главная" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="images/tild6536-3865-4630-b430-343063646361__-__resize__504x__tild3032-6233-4330-b.jpg" />
  <link rel="canonical" href="http://silver-company.ru">
  <!--/metatextblock-->
  <meta property="fb:app_id" content="257953674358265" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <link rel="shortcut icon" href="images/tild3764-6631-4931-a338-356361343936__tildafavicon.ico" type="image/x-icon" />
  <!-- Assets -->
  <link rel="stylesheet" href="css/tilda-grid-3.0.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/tilda-blocks-2.12.css?t=1594726634" type="text/css" media="all" />
  <link rel="stylesheet" href="css/tilda-animation-1.0.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/tilda-slds-1.4.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/tilda-zoom-2.0.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/tilda-menusub-1.0.min.css" type="text/css" media="all" />
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <!--<script src="js/jquery-1.10.2.min.js"></script>-->
  <script src="js/tilda-scripts-2.8.min.js"></script>
  <script src="js/tilda-blocks-2.7.js?t=1594726634"></script>
  <script src="js/lazyload-1.3.min.js" charset="utf-8"></script>
  <script src="js/tilda-animation-1.0.min.js" charset="utf-8"></script>
  <script src="js/tilda-slds-1.4.min.js" charset="utf-8"></script>
  <script src="js/hammer.min.js" charset="utf-8"></script>
  <script src="js/tilda-zoom-2.0.min.js" charset="utf-8"></script>
  <script src="js/tilda-menusub-1.0.min.js" charset="utf-8"></script>
  <!--<script src="js/tilda-forms-1.0.min.js" charset="utf-8"></script>-->
  <script src="js/tilda-map-1.0.min.js" charset="utf-8"></script>
  <!-- Yandex.Metrika counter -->
  <script src="js/common.js"></script>
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(50555635, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
    });
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/50555635" style="position:absolute; left:-9999px;" alt="" /></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->
  <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E4070DB3ZN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-E4070DB3ZN');
  </script>
</head>
<body>
  {{{body}}}
</body>
</html>
