<h1> Добро пожаловать, {{login}}!</h1>
{{#if login}}
<a href="/admin/logout">logout</a>
{{else}}
даров
{{/if}} 

<div data-action="buttonDiv" class="buttonDiv">
<form action="/post/buttonAdminAction" method="POST" name="buttonActionForm">
  <button data-id='1'> Add News!!!!!!!!!!!!</button>
  <button data-id='2'> Add Post!!!!!!!!!!!!</button>
</form>
</div>

<div class='newsBlogsDiv'>
</div>
