<form action="/admin/news" method="post" enctype="multipart/form-data">
  <input placeholder="Title" type="text" name="newstitle"><br>
  <textarea placeholder="Enter news text" name="newstext"></textarea><br>
  <input placeholder="Upload picture" type="file" name="file">
  <button>Send</button>
</form>
<hr>

<img src="/uploads/nikesb-gino-poets-bruin-banner_41be9b43921cad2e570195540bd7d8fc.jpg">
